body {
  cursor:default;
  background-image: linear-gradient(#FFFFFF, #FFE9E9, #FFFFFF);
	height:3000px;
  overflow-x: hidden;
}

/* all of the nav bar code */
.nav_bar {
  z-index: 10;
  top: 0;
  left: 0;
  width: 104%;
  margin-left:-10px;
  border-bottom: 1.5px solid #6273FF;
  position: fixed;
  overflow: hidden;
  height: 70px;
  background-color: #FFFFFF;
}

.nav_bar a {
  cursor: default;
  float: left;
  color: #828282;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  font-family: 'Poppins', sans-serif;
  padding-left: 72px;
  padding-top: 25px;
  text-decoration: none;
}

#logo {
  position: relative;
  top: -15px;
  height: 50px;
}

/* button {
  background-color: #6273FF;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 5px;
} */

.nav_bar_right {
  float: right;
  overflow:hidden;
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 13px;
  line-height: 18px;
}

#demo {
  cursor: default;
  display: inline;
  color: #828282;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  padding-right: 40px;
}

#signup_nav {
  color: #F3EFEC;
  font-size: 13px;
  line-height: 18px;
  font-family: 'Righteous', cursive;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  background-color: #6273FF;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 5px;
}

/* flex box */
#whole_page {
  display: flex;
  top:0;
  left: 0;
  width: 100%;
  flex-direction: column;
}

/* title */

#title {
  position: relative;
  top: 75px;
  left: 25%;
  width: 488px;
  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 45px;
  color: #6273FF;
}

#blurb {
  position: relative;
  left: 25%;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #828282;
}

/* boxes */
.paragraph {
  width: 104%;
  height: 650px;
  margin-left:-10px;
  border-bottom: 1px solid #FFE9E9;
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
}

.left_box {
  position: relative;
  padding-top: 70px;
  left: 25%;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #828282;
  width: 364px;
}

.right_box {
  position: relative;
  padding-top: 20px;
  left: 60%;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #828282;
  width: 364px;
}

#phone_number {
  position: relative;
  width: 200px;
  top: -270px;
  left: 65%;
}

#easy_control {
  position: relative;
  width: 350px;
  top: 200px;
  left: 15%;
}

#paid_events {
  position: relative;
  width: 200px;
  top: 200px;
  left: 30%;
}

#tiered {
  position: relative;
  width: 300px;
  top: -200px;
  left: 60%;
}

#socials {
  position: relative;
  width: 300px;
  top: 180px;
  left: 25%;
}

#crm {
  position: relative;
  width: 300px;
  top: -200px;
  left: 60%;
}

#virt_placement {
  position: relative;
  top: -250px;
}

#virt {
  position: relative;
  z-index: 6;
  width: 150px;
  top: 180px;
  left: 20%;
}

#ticketing {
  position: relative;
  width: 230px;
  left: 60%;
  top: -200px;
}

#dashboard {
  position: relative;
  width: 300px;
  left: 15%;
  top: 200px;
}

#curr_user {
  position: relative;
  width: 350px;
  left: 65%;
  top: 10px;
}

#curr_user_placement {
  position: relative;
  top: 150px;
}

#signup_flow {
  position: relative;
  width: 250px;
  left: 25%;
  top: 200px;
}

/* footer */

.footer_bar {
  position: absolute;
  z-index: 10;
  left: 0;
  bottom: 0;
  width: 104%;
  margin-left:-10px;
  overflow: hidden;
  height: 200px;
  padding-bottom: 20px;
  background-color: #FFFFFF;
  border-top: 1.5px solid #6273FF;

}

.footer_bar a {
  cursor: default;
  color: #828282;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  font-family: 'Poppins', sans-serif;
  padding-left: 72px;
  padding-top: 20px;
  text-decoration: none;
}

.footer_bar p {
  cursor: default;
  color: #828282;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  font-family: 'Poppins', sans-serif;
  padding-left: 72px;
  padding-top: 20px;
  text-decoration: none;
}

#footer_left {
  height:inherit;
  padding-top: 30px;
  float: left;
  width: 30%;
  border-right:1.5px solid #6273FF;
}

#whole_logo {
  position: relative;
  top: 40px;
  left: 25%;
}

#contact {
  height:inherit;
  padding-left: 200px;
  width: 30%;
  padding-top: 30px;
  float: left;
}

#footer_right {
  /* padding-right: 50px; */
  height:inherit;
  width: 20%;
  padding-top: 30px;
  float: left;
}

#logo_2 {
  position: relative;
  left: 2px;
  height: 50px;
}
