body {
  position: absolute;
  cursor:default;
	height:800px;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0
}

/* all of the nav bar code */
body {
  position: absolute;
  cursor:default;
  background-image: linear-gradient(#FFFFFF, #FFE9E9, #FFFFFF);
	height:3000;
  overflow-x: hidden;
  margin: 0;
  padding: 0
}

/* all of the nav bar code */
.nav_bar {
  z-index: 10;
  top: 0;
  left: 0;
  width: 104%;
  margin-left:-10px;
  border-bottom: 1.5px solid #6273FF;
  position: fixed;
  overflow: hidden;
  height: 70px;
  background-color: #FFFFFF;
}

.nav_bar a {
  cursor: default;
  float: left;
  color: #828282;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  font-family: 'Poppins', sans-serif;
  padding-left: 72px;
  padding-top: 25px;
  text-decoration: none;
}

#logo {
  position: relative;
  top: -15px;
  height: 50px;
}

/* button {
  background-color: #6273FF;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 5px;
} */

.nav_bar_right {
  float: right;
  overflow:hidden;
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 13px;
  line-height: 18px;
}

#demo {
  cursor: default;
  display: inline;
  color: #828282;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  padding-right: 40px;
}

#signup_nav {
  color: #F3EFEC;
  font-size: 13px;
  line-height: 18px;
  font-family: 'Righteous', cursive;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  background-color: #6273FF;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 5px;
}

/* fflexbox */
#title {
  position: absolute;
  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 45px;
  color: #6273FF;
  width: 600px;
  top: 75px;
  left: 100px;
}


#networking {
  position: absolute;
  top: 200px;
  width: 50%;
}

#networking_box {
  position: relative;
  left: 250px;
  height: 250px;
}

#networking_title {
  position: relative;
  z-index: 1;
  width: inherit;
  top: -220px;
  left: 330px;
  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  color: #4F4F4F;
}

#networking_text {
  z-index: 1;
  position: relative;
  top: -240px;
  left: 330px;
  width: 300px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #828282;
}

#community {
  position: absolute;
  top:500px;
  width: 50%;
}

#community_box {
  position: relative;
  width: 400px;
  left: 250px;
}

#community_title {
  position: relative;
  z-index: 1;
  width: inherit;
  top: -230px;
  left: 330px;
  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  color: #4F4F4F;
}

#community_text {
  z-index: 1;
  position: relative;
  top: -250px;
  left: 330px;
  width: 300px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #828282;
}

#clubs {
  position: absolute;
  top:200px;
  width: 50%;
}

#clubs_box {
  position: relative;
  height: 240px;
  left: 800px;
}

#clubs_title {
  position: relative;
  z-index: 1;
  width: inherit;
  top: -200px;
  left: 880px;
  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  color: #4F4F4F;
}

#clubs_text {
  z-index: 1;
  position: relative;
  top: -220px;
  left: 880px;
  width: 300px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #828282;
}

#resturants {
  position: absolute;
  top:500px;
  width: 50%;
}

#resturants_box {
  position: relative;

  height: 210px;
  left: 800px;
}

#resturants_title {
  position: relative;
  z-index: 1;
  width: inherit;
  top: -180px;
  left: 880px;
  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  color: #4F4F4F;
}

#resturants_text {
  z-index: 1;
  position: relative;
  top: -200px;
  left: 880px;
  width: 300px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #828282;
}



/* footer */

/* footer */

.footer_bar {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 120%;
  width: 104%;
  margin-left:-10px;
  overflow: hidden;
  height: 200px;
  padding-bottom: 20px;
  background-color: #FFFFFF;
  border-top: 1.5px solid #6273FF;

}

.footer_bar a {
  cursor: default;
  color: #828282;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  font-family: 'Poppins', sans-serif;
  padding-left: 72px;
  padding-top: 20px;
  text-decoration: none;
}

.footer_bar p {
  cursor: default;
  color: #828282;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  font-family: 'Poppins', sans-serif;
  padding-left: 72px;
  padding-top: 20px;
  text-decoration: none;
}

#footer_left {
  height:inherit;
  padding-top: 30px;
  float: left;
  width: 30%;
  border-right:1.5px solid #6273FF;
}

#whole_logo {
  position: relative;
  top: 40px;
  left: 25%;
}

#contact {
  height:inherit;
  padding-left: 200px;
  width: 30%;
  padding-top: 30px;
  float: left;
}

#footer_right {
  /* padding-right: 50px; */
  height:inherit;
  width: 20%;
  padding-top: 30px;
  float: left;
}

#logo_2 {
  position: relative;
  left: 2px;
  height: 50px;
}
